.DS_Store
node_modules
.secret
.bscscan_api_key
.matic_api_key
/dist
abis_
.env
src/abis

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
